*
  box-sizing: border-box
html
  scroll-behavior: smooth
body
  font-family: 'PT Sans', sans-serif
  background-color: $light-bg
  color: $text-color
.hide
  overflow: hidden
  position: relative
.container
  max-width: 1160px
  margin: auto
img
  max-width: 100%
.button
  min-width: 190px
  min-height: 40px
  padding: 18px
  font-style: normal
  font-weight: bold
  font-size: 14px
  line-height: 14px
  color: $text-color
  background-color: $button
  border: none
  border-radius: 10px
  cursor: pointer
.totop
  position: fixed
  width: 50px
  height: 50px
  bottom: 20px
  right: 20px
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08)
.icontotop
  display: block
  visibility: hidden
.logo
  width: 150px
  height: 24px
  &__sprite
    width: 50px
